*{
margin: 0;
padding: 0;
}
body{
font-family: 'Oswald', sans-serif;
font-size:90px;
}
.top{
background-image: url(../imge/fon/war.jpg); 
height: 580px;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}
h1{
color: white;
}
#dopinf{
color: white;
padding-top: 60px;
}
.content{
height: 2300px;
margin: 0 auto;
}
iframe{

padding-top:60px;

}
#dopinf1{
color: black;
position:absolute;
}
.inv2{
padding: 10px;
}
.alic{
padding-left: 45px; 
font-size: 40px;
padding: 10px;
color: black;
}
#alicdop{
padding-bottom: 40px;
}
.person{ 
text-align: center;
font-size:48px;
margin: 0 auto;
padding-bottom:40px;
background-color: white;
color: black;  
}
#img{
display: block;
margin: 0 auto;
padding-top: 60px;

}
#img2{
padding-left: 80px;
padding-top:30px;
}
a{
color: black;
}
#video1{
padding-left:1px;
text-align: center;
}
p{
color: black;
font-size:26px;
padding-bottom:20px;
}
#book{
text-align: center;
font-size:48px;
margin: 0 auto;
padding-bottom:40px;
background-color: white;
color: black;
}
#bookfoto2{
display: block;
margin: 0 auto;
padding-top:20px;
padding:40px;
}
#bookfoto{
display: block;
margin: 0 auto;

}
#book2{
text-align: center;
font-size:48px;
margin: 0 auto;
padding-bottom:40px;
background-color: white;
color: black;
}
.bottom{
background-color: #3d3c3c;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
width: 500px;
height: 120px;
display: inline-block;
color: white;
border-radius: 100px;
}
.bottom1{
background-color: #3d3c3c;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
height: 120px;
display: inline-block;
color: white;
width: 600px;
border-radius: 100px;
}
.bottom3{
background-color: #3d3c3c;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
width: 500px;
height: 120px;
display: inline-block;
border-radius: 100px;
}
h6 a{
color: white;
text-align: center;
}
.bottombottom{
height: 280px;
background-image: url(../imge/fon/bottombotttom2.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}
#video0{
padding-left:110px;
}
/*Адаптция*/


@media (min-width:0px) and (max-width:1880px) {
.videoo{
display:none;  
}

}


