*{
margin: 0;
padding: 0;
}
#img{
display: block;
margin: 0 auto;
padding-bottom: 35px;
padding-top: 15px;
}
#content{
margin:0 auto;
width: 900px;
height: 700px;
}
p{
text-align:center;
font-size:30px;
}
h2{
font-size:30px;
}
#last{
padding-bottom:50px;
}
a img{
padding-bottom:30px;
}
.menu{
display: block;
padding-left: 30px;
padding-right: 30px;
border: solid 2px black;
display: inline-block;
border-radius: 80px;
font-size:24px;
}
div a{
text-decoration:none;
}
.menu a strong{
color: black;
}
.menu12{
padding-left:8px;
padding-top:8px;
}
